#bank_header
{
    background-color: #ff3377;
    text-align: center;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: larger;
    font-weight: bold;
    padding: 0.3cm;
    
}

#own
{   
    text-align: center;
     font-size: 16spx;
}

.footer{
   background-color:  #f2e9e4;
    font-family: 'Courgette', cursive;
    font-size: large;
    font-weight: bold;
    color: #ff3377;
    padding: 0.1%;
    
}


#out
{
    text-align: left;
}

#outr
{
    float:right;
}

a.imagelink{
    text-decoration:none;
}