body{
    background: url(https://wallpaperaccess.com/full/327139.jpg);
    color: #f2e9e4;
}

.footer{
    font-family: 'Courgette', cursive;
    font-size: 30px;
    font-weight: bold;
    color: #ffc107;
    padding: 0.1%;
    bottom: 0px;
}

h1{
    color: white;
    text-align: center;
	font-family: 'Quattrocento Sans', sans-serif;
}

a.imagelink{
    text-decoration:none;
}

.marq marquee
{
    color: white;
    font-size: 40px;
    font-family: 'Righteous', cursive;
}  

button{
	border:none;
	border-radius: 8px;
	padding: 14px;
	background:#7B8788; 
	color:white;
	letter-spacing: 2px;
	font-size: 16px;
	transition: 0.5s;
}

button:hover{
	transform: scale(1.1);
	background-color:#4C4B4B;
}

.c1{
	border:none;
	border-radius: 8px;
	padding: 14px;
	background:#ffc107; 
	color:black;
	letter-spacing: 2px;
	font-size: 16px;
	transition: 0.5s;
}

.c2{
	border:none;
	border-radius: 8px;
	padding: 14px;
	background:#0dcaf0; 
	color:black;
	letter-spacing: 2px;
	font-size: 16px;
	transition: 0.5s;
}

.c3{
	border:none;
	border-radius: 8px;
	padding: 14px;
	background:#473080; 
    color:#e6e7e8;
	letter-spacing: 2px;
	font-size: 16px;
	transition: 0.5s;
}

.cdata
{
    text-align: center;
    color: white;
    font-size: 40px;
    font-family: 'Righteous', cursive;
}
